<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.RolePerMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.RolePer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="perid" property="perid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleid, perid
  </sql>


  <select id="getPermissionByRId" resultType="java.lang.String">
    select perid from a_role_per where roleid=#{roleid}
  </select>

  <delete id="deletePerByroleid">
    delete from a_role_per where roleid=#{roleid}
  </delete>




  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from a_role_per
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from a_role_per
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.RolePer" >
    insert into a_role_per (id, roleid, perid
      )
    values (#{id,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{perid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.RolePer" >
    insert into a_role_per
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="perid != null" >
        perid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="perid != null" >
        #{perid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.RolePer" >
    update a_role_per
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="perid != null" >
        perid = #{perid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.RolePer" >
    update a_role_per
    set roleid = #{roleid,jdbcType=INTEGER},
      perid = #{perid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>