<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="addFormId">
    书籍名称:<input  name="bookname" class="easyui-validatebox" data-options="required:true" /><br>
    书记价格:<input  name="price" class="easyui-validatebox" data-options="required:true" /><br>
    类型:
    <select name="booktype">
        <option value="-1">--请选择--</option>
        <option value="1">小说</option>
        <option value="2">名著</option>
    </select>
    <br>
    日期:
    <input name="bookdate" type="text" class="easyui-datebox" required="required"></input> <br>
    描述:<textarea rows="" cols="" name="des"></textarea>
    <br>
</form>
</body>
</html>